@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');
@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Vazirmatn", ui-sans-serif, system-ui, sans-serif;
}

:root {
  --accent-color: #10b981;
}

@layer base {
  html, body {
    overscroll-behavior-y: none;
  }

  * {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
  }

  input, textarea {
    -webkit-user-select: auto;
    user-select: auto;
  }
  
  body {
    @apply bg-zinc-50 dark:bg-black transition-colors duration-300;
  }
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

.pt-safe {
  padding-top: env(safe-area-inset-top);
}

.mt-safe {
  margin-top: env(safe-area-inset-top);
}

.mb-safe {
  margin-bottom: env(safe-area-inset-bottom);
}
