@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');
@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Vazirmatn", ui-sans-serif, system-ui, sans-serif;
}

:root {
  --accent-color: #10b981;
}

@layer base {
  html, body {
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior-y: none; /* د پاڼې د اضافي کش کېدو (Overscroll) مخنیوی */
  }
  
  /* د ټولو شیانو د سلیکشن مخنیوی */
  * {
    -webkit-user-select: none; /* Safari لپاره */
    -ms-user-select: none; /* IE 10+ او Edge لپاره */
    user-select: none; /* معیاري ترکیب */
  }

  /* په انپوټ (Input) او ټیکسټ ایریا (Textarea) کې د لیکلو او ایډیټ لپاره سلیکشن ته اجازه */
  input, textarea {
    -webkit-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
  }
  
  body {
    @apply bg-zinc-50 dark:bg-black transition-colors duration-300;
  }
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

.pt-safe {
  padding-top: env(safe-area-inset-top);
}

.mt-safe {
  margin-top: env(safe-area-inset-top);
}

.mb-safe {
  margin-bottom: env(safe-area-inset-bottom);
}
